<div class="flex justify-center">
    <div class="w-2/3 py-4 border-b-slate-200 border-b">
        <div class="text-3xl">Account Assets</div>
    </div>
</div>
<div class="flex justify-center py-8">
    <div class="w-2/3">
        <div class="w-full grid gap-6 grid-cols-6" *ngIf="nftItems.length > 0">
            <div class="w-48 h-64 relative group" *ngFor="let item of nftItems">
                <!-- <div class="w-full h-full p-5 border rounded-md shadow-md hover:border-slate-700 hover:cursor-pointer">
                    <div class="flex justify-between mb-2">
                        <div class="text-sm">0x0000...000</div>
                        <div class="text-sm">#{{item.tokenId}}</div>
                    </div>
                    <img [src]="item.image" class="h-36 w-full rounded-md shadow mb-4" />
                    <div class="text-left  mb-2">{{ item.name }}</div>
                </div> -->
                <app-nft-card [address]="item.address" [tokenId]="item.tokenId"></app-nft-card>
            </div>
        </div>
    </div>
</div>