@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'material-icons/iconfont/material-icons.css';

.border-1 {
    border-width: 1px;
}

.border-b-1 {
    border-bottom-width: 1px;
}
.border-l-1 {
    border-left-width: 1px;
}

.border-r-1 {
    border-right-width: 1px;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-form-field {
    line-height: 1.15 !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5rem 0 0.8rem 0 !important;
}

.mat-form-field-wrapper {
    padding-bottom: 0.25rem !important;
}

.metadata {
    .mat-form-field-wrapper {
        padding-bottom: 0.1rem !important;
    }
}

.active-link {
    @apply bg-sky-600 border-sky-600 text-white;
}

.active-button {
    @apply bg-slate-800 text-white w-1/2 h-10 rounded cursor-pointer flex items-center justify-center;
}

.btn-primary {
    @apply border border-sky-600 rounded hover:bg-sky-600 hover:text-white hover:cursor-pointer;
}

.btn-basic {
    @apply border border-neutral-300 rounded hover:bg-neutral-50 hover:cursor-pointer;
}

.btn-primary-filled {
    @apply border border-slate-800 rounded bg-slate-800 text-white hover:bg-opacity-90 hover:cursor-pointer flex items-center justify-center;
}

.btn-warn-filled {
    @apply border border-red-600 rounded bg-red-700 text-white hover:bg-opacity-90 hover:cursor-pointer flex items-center justify-center;
}

button:disabled,
button[disabled]{
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
  border: none;
}

.snackbar-success, .snackbar-error {
    margin-top: 4.5rem !important;
    background-color: rgb(30 41 59) !important;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: rgb(2 132 199);
    margin-top: -1px;
}
